.svn-log-entry {
  padding: 3px;
  margin: 10px;
}
.svn-log-entry span {
  color: #999999;
}
.svn-log-entry rev {
  color: #914040;
  font-family: Consolas;
  font-weight: bold;
}
.svn-log-entry name {
  color: #292627;
}
.svn-log-entry date {
  color: #897F8A;
}
.svn-log-entry linenum {
  color: #696679;
}
.svn-log-entry file {
  color: #aaa;
}
.svn-log-entry .A-action {
  color: #56B459;
}
.svn-log-entry .M-action {
  color: #4C4C99;
}
.svn-log-entry .D-action {
  color: #F03B3B;
}
.svn-log-entry .msg {
  color: #5C4E5A;
}
.svn-log-entry .control {
  color: #6B6464;
}
.svn-log-entry .files {
  margin: 14px;
  margin-top: 3px;
  margin-bottom: 0;
  font-family: "Yahei Consolas Hydrid";
}
.svn-log-entry keyword {
  background-color: #F8FF49;
  font-weight: bold;
  border-radius: 5px;
  padding: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: #EBEB28;
  margin: 1px;
}
